
body {
    background-image: url("https://pbs.twimg.com/ext_tw_video_thumb/820713162374873088/pu/img/p6mbvBrsMZarVhTt.jpg");
    background-size: cover;
    font-family: Sans-serif;
    text-align: center;
    height: 90vh;
}

#button {
    background-color: rgba(255, 255, 255, 0.0);
    border: 0px solid black;
    transition: width 0.5s ease;
}